<!DOCTYPE html>
<html>

<head>
    <title>List Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

    <h3>Form Data</h3>
    <hr>
    <p>
        <a [routerLink]="['/list']" class="btn btn-primary">Kembali</a>
    </p>
    <form (ngSubmit)="onSubmit()" novalidate>
        <p> <input class="form-control" name="username" [(ngModel)]="username" type="text"> </p>
        <p> <input class="form-control" name="password" [(ngModel)]="password" type="password"> </p>
        <p> <input class="form-control" name="token" [(ngModel)]="token" type="text"> </p>
        <p> <input class="form" type="file" (change)="filetobase64($event)"> </p>
        <p> <button class="btn btn-primary">Submit</button> </p>
    </form>

</body>

</html>